/*Navigation */
.navbar {
    flex-direction: column;
}
.navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/*home section*/
.home{

height: 336px;
padding: 1px 6px;

}
.home::before{
height: 480px;
}
.home p{
    font-size: 13px;
}

/*services section*/
.services{

    flex-direction: column;
}
.services .box{


}

/* Clients sections */
.clients{
   flex-wrap: wrap;    /*isye clients wala box screen kye hissab sye set hojayega*/
}
.clients img{
    width: 66px;
    padding:6px;
    height: auto;
}


/* contact us sections */
.contact-box form{
    width: 80%;
}

/* footer sections */

/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}