/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
.navbar{
    display: flex;     /*ul ko ek line mye kr dyeta h*/
    align-items: center;
    position: relative; /*navbar ko image kye uppar kr dyeta h*/   /*navbar position-stickykarnye pr scroll kye sath nichye aayega*/
    top: 0px;   /* isko likha jayega jb navbar uppar karna hoga */
}
.navbar::before{
    content:"";
    background-color: black;
    position: absolute;       /*navbar kye option ko arrange karta h*/
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;    /*content uppar aa jata h */
    opacity: 0.6;    /*color kye liye h*/
}

/*Navigation Bar Logo and Image */
.logo{
       margin: 34px 45px;
}
.logo img{
    height: 75px;
        margin: -10px -21px;   
}

/*Navigation Bar List Styling */

.navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
   
}

.navbar ul li{
    
    list-style-type: none;
    font-size: 1.3rem;
}
.navbar ul li a{
    color: #050101;
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;
}
.navbar ul li a:hover{
    color: black;
    background-color: white;
}
  /* Home section */
  .home{
      display: flex;
      flex-direction: column;
      padding: 3px 200px;
      height: 489px;
      justify-content: center;    /*ye dono milkar text ko center mye lye aatye h home kye*/
      align-items: center;           /*     "same"                                             */
  }
  
  .home::before{
   
    content:"";
    position: absolute;
    background:url('./paneer.jpg') no-repeat center center/cover;
    height: 642px;
    top: 0px;   /*navbar ko uppar lye aata h background image sye*/
    left: 0px; 
    width: 100%;
    z-index: -1;    /*content uppar aa jata h */
    opacity: 0.89;    /*color kye liye h*/
  }
  .home h1{
    color:black;
      text-align: center;
      font-family: 'Bree Serif', serif;
  }
  .home p{
    
      color:rgb(55, 245, 7);
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Galada', cursive;
   

  }
  /* services section     */
  .services{
      margin: 34px;
      display: flex;      /*agr list mye likha ho tb usye ek line mye karnye kye liye use kartye h*/
  }
  .services .box{ 
      border: 2px solid brown;
      padding: 34px;
      margin: 3px 6px;
      border-radius: 28px;
      background:#dcd0c980;
      
      

  }
  .services .box img{   /*image set ho rahi h*/
    height: 109px;
    margin: auto;           /*image ko box mye center pr lanye kye liye kartye h*/
    display: block;       /* jaha margin auto deyegye waha display block kar dyegye*/
  }
  .services .box p{
    font-family: 'Galada', cursive;
  }
  /*client section*/
.client-section{
     
     position: relative;   /* jitni jarurat hogi siraf utni jagh lyga*/
}
.client-section::before{
     content: "";
     position: absolute;
     background: url('table.jpg');
     width: 100%;
     height: 100%;        /*54*/
     z-index: -1;   /*background image kye sath jo uppar ho uskye usko set kiya jata h ki kaisa dikhyega */
    opacity: 1;   
    }
.clients{
    display: flex;
    justify-content: center;
  
    text-align: center;
}
.client-item{
  padding: 34px;

}
.clients img{
  height: 124px;
}
    /* contact section */
   .contact{
     position: relative;
   }
   .contact::before{
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: -1;
     opacity: 0.7;
     background: url('contact.jpg') no-repeat center center/cover;
   }
   .contact-box{      
     display: flex;   /* iska use hum is liye kartye ki sab chij center pr aa sakye*/
     justify-content: center;
     align-items: center;
     padding-bottom: 34px;
   }
   .contact-box input,     /*form ko design kiya gaya h*/
   .contact-box textarea{
     width: 100%;
     padding: 0.5rem;
     border-radius: 9px;
     font-size: 1.1rem;
   }
   .contact-box form{
     width: 40%;
     
   }
   .contact-box label{
     font-size: 1.3rem;
     font-family: 'Bree Serif', serif;

   }
   footer{
     background: black;
     color: white;
     padding: 9px 20px;
   }

  /*utility classes*/
  .h-primary{
    font-family: 'Bree Serif', serif;
      font-size: 3.8rem;
      padding:12px;
  }
  .h-secondary{
    font-family: 'Bree Serif', serif;
      font-size: 2.3rem;
      padding:12px;
  }
.btn{                 /*btn ko sajaya gaya*/
    padding: 6px 20px;
    border: 2px solid  brown;
    color: rgba(250, 0, 229, 0.767);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}   
  
